@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(to bottom right, #dbeafe, #ffffff, #4398ff);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background: linear-gradient(
    180deg,
    rgb(32, 44, 136) 0%,
    rgba(9, 9, 121, 1) 15%,
    rgba(0, 2, 18, 1) 100%
  ); */
  
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 25px;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus, 
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main { /* This styles the main content */
  color: #1f2937; /* Tailwind's gray-800 */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table { /* This styles the table */
  width: 80vw;
  table-layout: fixed;
}

th, td { /* This styles the table headers and data */
  padding: 0.4rem;
  text-align: center;
  width: 180px;
}

img { /* This styles the image */
  border-radius: 10px;
}

tr { /* This styles the table rows */
  border-radius: 10px;
  background-color: #000;
  color: white;
}

tbody tr:nth-child(odd) { /* This styles the table rows */
  background-color: #333333;
}



div.actions { /* This aligns buttons */
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-bottom: 100px;
}

/* Default styles */
h1 {
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



/* Styles for screens narrower than 600px */
@media (min-width: 600px) {
  h1 {
    font-size: 50px;
  }

  .saved-candidates-container {
  }

  table {
    width: 80%;
  }
}
